@media screen and (max-width: 1055px) {
	.card__right{
		padding: 0;
	}
}
@media screen and (max-width: 1010px) {

.page {
	margin: 0px;
	margin-right:0px;


}
.card__left, 
.owl-carousel.slider, 
#corus {
	width: 342px;
}
.card__cell {
	margin: auto;
	width: 708px;
	height: auto;
}
.slider__item {
	-webkit-background-size: contain;
	background-size: contain;
}
.card__right {
	width: 342px;
}
.owl-wrap {
	height: auto;
}
.owl-stage-outer {
	height: auto;
}
.slider__item {
	height: 342px;
	padding-top: 0;
}
.owl-carousel.slider.owl-loaded {
	height: auto;
}
.card__left {
	height: auto;
}
.heder__wrap_right {
	display: flex;
	justify-content: space-between;
	float: right;
	padding-right: 30px;
}
.page__cell1 {
	position: relative;
	display: block;
	margin: auto;
}
.footer {
	padding-bottom: 32px;
}
}
@media screen and (max-width: 912px) {
	.email {
		margin-top: 20px;
	}
}
@media screen and (max-width: 895px) {
	.email {
		margin-top: 20px;
	}
}
@media screen and (max-width: 787px) {
	.card__left,
	.card__right,
	.owl-carousel.slider.owl-loaded,
	.owl-stage-outer  {
		max-width: 300px;
	}
}
@media screen and (max-width: 768px) {
	.card__left,
	.card__right,
	.owl-carousel.slider.owl-loaded,
	.owl-stage-outer  {
		width: 300px;
	}
}
@media screen and (max-width: 680px) {
	.card__left,
	.card__right,
	.owl-carousel.slider.owl-loaded,
	.owl-stage-outer  {
		width:100%;
	}
	.card__right {
		padding-left: 10px;
	}
	.card__cell {
		flex: 0 0 500px;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center ;
	}
	.page__row {
		position: fixed;
		width: 100%;
		height: 87px;
		width: 100%;
		top:0;
		left:0;
		margin: 0;
		z-index: 55;
		padding-top: 0;
	}
	.page__row:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
  }
 .conten {
	padding: 88px 20px 0 20px;
 }
.header{
	position: relative;
	z-index: 2;
	padding: 0 30px;
	height: 87px;
	display: flex;
	align-items: centr;
}
.header__nav,
.header__phone-number {
	display: none;
}
.header__btn {
	display: block;
}
}
@media screen and (max-width: 660px) {
	.wSend {
		margin: 15px 0 0 0;
		width: 272px;
	}
	.box_email {
		width: 272px;
	}
	.footer {
		justify-content: space-between;
	}
	.footer__copyright {
		flex: 0 0 100px;
	}
}
@media screen and (max-width: 432px) {
	.box_email {
		height: auto;
		width: 272px;
		order: 1;
	}
	.footer__copyright {
		margin-top: 20px;
		height: 30px;
		display: block;
		padding: 0 10px 0 0;
		order: 2;
	}
	.footer {
		height: auto;
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer__nav {
		padding: 0;
		margin: auto;
	}
}
@media screen and (max-width: 421px) {
	.box_email {
		padding-top: 15px;
	}
	.email {
		margin-top: 40px;
	}
}
@media screen and (max-width: 320px) {
.footer__nav {
	margin: 0;
}
.footer {
	display:block;
}
.page {
	margin-top: 0;
}

.card__cell {
	display: block;
	height: auto;
	width: 320px;
}
.header__btn{
	display: inline-block;
}
.page__cell {
	height: 87px;
}
.page__cell1 {
	position: relative;
	display:inline-block;
	margin:auto;
}
.owl-wrap {
	height: auto; 
	display: inline-block;
}
.owl-stage-outer {
	height: 100%;
}
.content2 {
	height: auto;
}
.ul_nav2, 
.ul_nav1 {
	margin-right: 0;
}
.label, 
.e-mail {
	display: block;
	width: 100%;
}
.owl-carousel.slider{
	width: 230px;
	height: 390px;
}
.header {
	display: flex;
	justify-content: space-between;
	height: 87px;
/* 	border-bottom: 1px solid #D8D8D8; */
	margin: 0 23px;
	padding: 0;
}
.btn_basket{
	width: 100%;
}
.box_email {
	height: auto;
	margin-top: 15px;
	width: 100%;
}
.owl-dots1 {
	width: 272px;
}
.row1,
.row {
	display: inline-block;
}
.wSend {
	width: 272px;
	padding-top: 20px;
	margin: 0;
}
.email {
	margin: 40px 0 40px 0;
	display: block;
}
.owl-loaded{
	margin: auto;
}
.btn-nav {
	display: inline-block;
	margin-top: 9.8px;
}
.slider__item {
	padding-top: 0;
}
.card__row {
	height: auto;
}
.owl-carousel.description {
	display: block;
}
.header__logo {
	display: inline-block;
}
.logo {
	display: block;
}
.page__row {
	background-color: white;
	height: 87px;
	padding-top: 0;
}
.slider__item {
	background-position: top left;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}
.owl-nav {
	margin: 0 auto 0 auto;
}
.owl-height {
	height: 300;
}
.slider__item {
	width: 100%;
}
.card__right {
	padding: 0;
	display: flex;
	flex-wrap: wrap;

}
.headline {
	order: 3;
}
.cost {
	order: 4;
}
.color {
	order: 1;
}
.btn_basket {
	order: 2;
	margin: 0 0 10px 0;
}
.bottom__nav__slider {
	order: 5;
}

}